* { padding: 0; margin: 0; }
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    /*min-height: 100vh;*/
    min-height: 100%;
    background-color: #eee;
}

.obj {
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    z-index: 3;
    position: absolute;
}
